*{
    margin: 0px;
    padding: 0px;
}
#cabeceraPagina{
    border: 3px solid green;
    background-color: lightgreen;
}
#menusuperior{
    border: 3px solid blue;
    background-color: cyan;
}
#menusuperior li{
    list-style: none;
    display: inline-block;
    padding: 5px;
}
main{
    display: flex;
}
#areainformacion{
    flex: auto;
    border: 3px solid red;
    background-color: pink;
}
#areaderecha{
    width: 200px;
    border: 3px solid gray;
    background-color: lightgray;
}
#piedepagina{
    border: 3px solid magenta;
    background-color: violet;

}